<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="custom-cursor"></div>
  <div class="container">
    <div class="left">
      <span class="title first">PixelVista</span><br>
      <div id="overlay"></div>
      <span class="subtitle">Unveiling the Artistry of Imagery</span><br>
      <span class="description">Embark on a Visual Journey: Where Every Pixel Tells a Story!</span>
    </div>
    <div class="content">
      <p class="header">Welcome to <span>PixelVista</span></p>
      <p class="header">Register Yourself</span></p>

      <form action="/register" method="post">
        <input type="email" name="email" placeholder="Email" class="detail" /><br />
        <input type="text" name="username" placeholder="Username" class="detail" /><br />
        <input type="text" name="fullname" placeholder="Fullname" class="detail" /><br />
        <input type="password" name="password" placeholder="Password" class="detail" />
        <input type="submit" class="btn int" value="Register Account">
      </form>

      <a href="/login">Already on PixelVista? Login.</a>
      
    </div>
  </div>
  <script src="/javascripts/script.js"></script>
</body>

</html>