<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="custom-cursor"></div>
  <div class="container">
    <div class="left">
      <span class="title first">PixelVista</span><br>
      <div id="overlay"></div>
      <span class="subtitle">Unveiling the Artistry of Imagery</span><br>
      <span class="description">Embark on a Visual Journey: Where Every Pixel Tells a Story!</span>
    </div>
    <div class="content">
      <p class="header loginheader">Login To Your Account</p>
      <% if(error.length> 0){%>
        <p class="error">
          <%= error %>
        </p>
        <% }%>
          <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" class="detail" /><br />
            <input type="password" name="password" placeholder="Password" class="detail" />
            <input type="submit" class="btn int" value="Login">
          </form>
          <a href="/">Not on Pinterest yet? Sign up</a>
    </div>
  </div>
  <script src="/javascripts/script.js"></script>
</body>

</html>