body {
    margin: 0;
    background: url("/images/wallpaperflare.com_wallpaper (2).jpg");
    background-size: cover;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    overflow: hidden;
}

@font-face {
    font-family: 'NicoMoji';
    src: url('/fonts/Nico-Moji/nicomoji/NicoMoji-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    background-color: #51515167;
    text-align: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.58);
    height: 12vh;
    margin: 0px 15px;
}

.feed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 12vw;
    background: rgba(255, 255, 255, 0.735);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.navbar #more .dropbtn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.735);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 7vh;
    width: 12vw;
    color: black;
}

.navbar #more .dropbtn {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.735);
    border: none;
    outline: none;
    padding: 14px 16px;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar #more .dropdown-content {
    margin: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.navbar #more .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar #more .dropdown-content a:hover {
    background-color: #ddd;
}


.navbar #more .arrow-down {
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.feed:hover {
    background: rgba(255, 255, 255, 0.443);
}

#more:hover {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: rgba(255, 255, 255, 0.443);
}

.navbar #site-name {
    display: inline-block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'NicoMoji';
}

.navbar #profile {
    float: right;
}

#main {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 85vw;
    margin: 10vh 7.5vw;
}

.container-fluid a {
    transition: color 0.1s ease;
    text-decoration: none;
    color: white;
    margin: 10px;
}

.container-fluid a:hover {
    color: #aaa;
}

.delete {
    background-color: #dc7555b7;
    color: #fff;
    cursor: pointer;
    padding: 1.2px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    height: 4vh;
    width: 4vh;
}

.delete:hover {
    background-color: #a04c1e;
}

.uploadsection {
    background-color: #fff;
    padding: 20px;
    margin: 45px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    height: auto;
}

.hidden {
    display: none;
}

.uploadsection input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.uploadsection input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.uploadsection input[type="submit"]:hover {
    background-color: #45a049;
}

.uploadbutton {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.uploadbutton:hover {
    background-color: red;
    color: white;
}

.containerpers {
    height: 60vh;
    width: 40vw;
    backdrop-filter: blur(20px);
    background: transparent;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: start;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: 24px;
    margin: 0;
}

.username {
    font-size: 18px;
    color: #777;
    margin: 10px 0;
}

.tagline,
.description {
    color: #ffffff;
    margin: 20px 0;
}

.button {
    display: inline;
    padding: 10px 20px;
    background-color: #ff0c0c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    height: 2vh;
    width: auto;
}

.button:hover {
    background-color: #b10202fd;
}

.edit {
    background-color: #145065;
    /* Red */
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.edit:hover {
    box-shadow: 0 4px 8px rgba(59, 59, 59, 0.646);
}

.container {
    height: 70vh;
    margin: 0 4vh;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 1px solid white;
    overflow: scroll;
    padding: 4vh;
}

.card {
    margin-top: 10px;
    width: 12vw;
    height: auto;
    background: transparent;
}

.card-body {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    overflow: scroll;
    height: 9.3vh;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    color: black;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 20px;
}

label {
    width: 100%;
    font-weight: bold;
    text-align: left;
    margin: 3px;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.boundary {
    margin: 3px;
    border-radius: 1%;
    backdrop-filter: blur(10%);
}

@media screen and (max-width: 450px) {
    .navbar #more .dropbtn {
        font-size: 12px;
    }

    .feed {
        font-size: 12px;
    }

    #main {
        display: block;
        height: 100%;
        width: 85vw;
        margin: 10vh 7.5vw;
    }

    body {
        overflow: auto;
    }

    .containerpers {
        height: 65vh;
        width: 100%;
        backdrop-filter: blur(20px);
        background: transparent;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
        border: 1px solid white;
        color: white;
        margin-bottom: 5vh;
        overflow: scroll;
    }

    .container {
        height: 70vh;
        border-radius: 5px;
        margin: 0;
        background: transparent;
        backdrop-filter: blur(15px);
        border: 1px solid white;
        overflow: scroll;
        padding: 4vh;
    }

    .card {
        border: 1px solid white;
        color: white;
        margin-top: 10px;
        width: 100%;
        height: auto;
        background: transparent;
    }

}