* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: none; /* Hide the default cursor */
}

.custom-cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.836);
  border-radius: 50%;
  pointer-events: none; 
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s, border-width 0.3s, background-color 0.3s;
}

.cursor-hovered {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.815);
}

body {
  background-color: #ccc;
  font-family: 'Times New Roman', Times, serif;
  background-image: url("/images/wallpaperflare.com_wallpaper.jpg");
}

@font-face {
  font-family: 'NicoMoji';
  src: url('/images/Nico-Moji/nicomoji/NicoMoji-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container{
  font-family: 'NicoMoji', sans-serif;
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 85vw;
  margin: 10vh 7.5vw;
}
.left{
  height: 70vh;
  width: 40vw;
  margin: 5vh 5vw;
  display: flex;
  flex-direction: column;
}
.title{
  font-size: 70px;
  color: black;
  margin: 10vh 0;
}
.subtitle{
  font-size: 40px;
  color: #ffffffd0;
  margin-bottom: 5vh;
}
.description{
  font-size: 25px;
  color: #ffffffd0;
}

.content{
  height: 70vh;
  margin: 5vh 5vw;
  width: 30vw;
  background-color: rgba(64, 64, 146, 0.3); /* Adjust the rgba values for the blue tint and opacity */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the box shadow properties as needed */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  padding: 20px; 
  overflow: hidden;
  background: transparent;
  backdrop-filter: blur(20px);
}

.header{
  font-size: 45px;
  color: #694428ce;
  -webkit-text-stroke: 1px rgb(67, 64, 64);
}